body {
    background-color: #e1c5cb;
}
h1 {
    color: #DFF6FF;
    font-size: 25px;
    font-family: 'Segoe UI';
    background-color: black;
}
h2 {
    color: #8634ea;
    font-size: 25px;
    font-family: 'Segoe UI';
    background-color: rgb(102, 206, 244);
}
p {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color:rgb(76, 108, 153);
}
img{
    max-width: 25%;
    max-height: 25%;
}
ol li {
    font-size: 30px;
    color: blueviolet;
}
ul li {
    color: green;
    font-weight: bold;
    background-color: #dcf539;
    text-align: center;
}

.enviar{
    border-radius: 5px;
    background-color: rgb(0,0,255);
}
.etiqueta{
    background-color: rgb(223, 169, 18);
}
.boton{
    background-color: rgb(219, 229, 72);
    border-radius: 5PX;

}
.boton1{
    background-color: #ecf06b;
    border-radius: 5PX;
    
}
.entrada{
    background-color: #f17639;
}
